<!DOCTYPE html>
<html>
  <head>
    <title>拍子木塾</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<2%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--↓google fonts-->
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Ubuntu+Condensed|ZCOOL+XiaoWei" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Ubuntu+Condensed|ZCOOL+Noto+Sans+SC" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Sans+JP|Noto+Sans+SC" rel="stylesheet">

    
    <!--Import materialize.css-->
    <!--<link type="text/css" rel="stylesheet" href="/homepage/app/assets/stylesheets/materialize.css"  media="screen,projection"/>-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--↓jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--<2%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= I18n.locale %>">
      <header>
        <div class="header_back_color">
            <div class="mediataiou">
                <!--↓ロゴ部分-->
                <div class="header_logo">
                  <div class = "logo">
                    <div class = "logo1">
                      <span><%= I18n.t "sublogo" %></span>
                    </div>
                    <div class="logo2">
                      <span><a href="/"><%= I18n.t "logo" %></a></span>
                    </div>
                    <div class = "logo3">
                      <span><%= I18n.t "yomi" %></span>
                    </div>
                  </div>
                </div>  
  
                <!--headerの右の部分-->
                <div class="header_right clearfix">
                    <!--↓言語切り替え部分-->
                    <div class="gengo">
                        <div class="gengo2">
                            <div class="gengo22">
                                <% if I18n.locale.to_s == "ja" %>
                                    <%= link_to('中文', :locale => 'zh') %>
                                <% elsif I18n.locale.to_s == "zh" %>
                                    <%= link_to('日本語', :locale => 'ja') %>
                                <% elsif I18n.locale.to_s == "en" %>
                                    <%= link_to('日本語', :locale => 'ja') %>
                                <% else %>
                                    <%= link_to('中文', :locale => 'zh') %>
                                <% end %>
                          </div>
                        </div>
                        <div class="gengo2">
                          <div class="gengo22">
                                <% if I18n.locale.to_s == "ja" %>
                                    <%= link_to(:locale => 'en') do %>
                                        En<span>lish</span>
                                    <% end %>
                                <% elsif I18n.locale.to_s == "zh" %>
                                    <%= link_to(:locale => 'en') do %>
                                        En<span>lish</span>
                                    <% end %>
                                <% elsif I18n.locale.to_s == "en" %>
                                    <%= link_to('中文', :locale => 'zh') %>
                                <% else %>
                                    <%= link_to(:locale => 'en') do %>
                                        En<span>lish</span>
                                    <% end %>
                                <% end %>
                          </div>
                        </div>
                    </div>
                    <!--↓資料請求とかの部分-->
                    <div class="annai">
                        <div class="annai2">
                            <div class="annai3">
                                <a href="/<%= I18n.locale %>/information"></a>
                                <span><%= I18n.t "brochure1" %><br><%= I18n.t "brochure2" %></span>
                            </div>
                        </div>
                        <div class="annai2">
                            <div class="annai3">
                                <a href="/<%= I18n.locale %>/trial"></a>
                                <span><%= I18n.t "trial1" %><br><%= I18n.t "trial2" %></span>
                            </div>
                        </div>
                        <div class="annai2">
                            <div class="annai3 nyukai">
                                <a href="/<%= I18n.locale %>/entry"></a>
                                <span><%= I18n.t "join1" %><br><%= I18n.t "join2" %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </header>

   <%= yield %>

<footer>
  <div class="mediataiou2">
    <div class="footer_nav clearfix">
      <div class="links">
        <ul>
            <li><a href="/<%= I18n.locale %>/hyoshigis/aboutus"><%= I18n.t "aboutus" %></a></li>
            <li><a href="/<%= I18n.locale %>/inquiry"><%= I18n.t "contact" %></a></li>
            <li><a href="/<%= I18n.locale %>/hyoshigis/recruit"><%= I18n.t "jobs" %></a></li>
            <li><a href="/<%= I18n.locale %>/hyoshigis/more"><%= I18n.t "qa" %></a></li>
        </ul>
      </div>
      <div class="sns">
        <div class="sns2">
          <div class="instagram">
            <a href="https://www.instagram.com/hyoshigi/"><img alt="instagram" src="/instagram.png"/></a>
          </div>
        </div>
        <div class="sns2">
          <div class="twitter">
            <a href="https://twitter.com/hyoshigis"><img alt="twitter" src="/twitter.png"/></a>
          </div>        
        </div>
        <div class="sns2">
          <div class="weibo">
            <a href="https://www.weibo.com/hyoshigi"><img alt="weibo" src="/weibo.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    (c) 2019 HYOSHIGI    
  </div>
</footer>

    <!--JavaScript at end of body for optimized loading-->
    <!--<script type="text/javascript" src="/homepage/app/assets/javascripts/materialize.js"></script>-->
  </body>
</html>
